html {
    top: 0 !important; /* override mobile iframe */
}

body {
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    color: #333;
    font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background: #fafafa;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #529ecc;
    text-decoration: underline;
}

h1 {
    font-size: 56px;
    line-height: 1.2;
    margin: 40px 0 0;
    word-wrap: break-word;
}

h1 a {
    color: #444;
    display: block;
    text-decoration: none;
}

h1 a:active {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -ms-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
}

img,
iframe,
object {
    vertical-align: middle;
}

input,
textarea {
    color: #333;
    font-size: 14px;
    font-family: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
    color: #bbb;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bbb;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bbb;
}

:-ms-input-placeholder {
    color: #bbb;
}

/******************************************************************************
 * HELPERS
 * Various helper styles.
 ******************************************************************************/
.hidden {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.print-only {
    display: none;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { 
    border: 0 !important; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    width: 1px !important; 
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

/* .clear classes are used by notes */
div.clear,
br.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

/******************************************************************************
 * REUSABLE WIDGETS
 * Classes meant to be reused / generic.
 ******************************************************************************/

/** Popover menu **/
.glass {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.glass.active {
    display: block;
}


.share-menu {
    bottom: 30px;
}

.share-menu.active {
    bottom: 35px;
}

body:not(.ios) .share-menu ul li:nth-child(2):hover {
    border-radius: 4px 4px 0 0;
}


.share-menu ul li a {
    opacity: 1;
}

.share-menu ul li a:hover {
    opacity: 1;
}


.h-line {
    background: #DADADA;
    height: 1px;
    overflow: hidden;
    opacity: 0.15;
    filter: alpha(opacity = 15);
    width: 100%;
}

/** Scrolling **/
body.is-scrolling {
    pointer-events: none;
}

body.is-scrolling #posts * {
    -webkit-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

/** Variations on header **/
#header {
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/** No header image **/
.no-image #header {
    margin-top: 140px;
}

/** No image, no avatar **/
.no-image.avatar-hidden #header,
.no-image.avatar-style-hidden #header {
    margin-top: 30px;
}

/** Nav **/
.nav-menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.is_lightbox .nav-menu-wrapper,
.is_lightbox .nav-menu-bg {
    z-index: 0;
}

.selector {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.selector .bar-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
    -webkit-transform: translate3d(0, 0, 0); /* The zoom: 1; of new browsers */
}

.selector .bar-icon {
    height: 3px;
    width: 20px;
    background: #fff;
    display: block;
    opacity: 1;
    margin-top: 4px;
    -webkit-transition: -webkit-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -ms-transition: -ms-transform 0.15s linear;
    -moz-transition: -moz-transform 0.15s linear;
    transition: transform 0.15s linear;
    -webkit-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.bar-icon:nth-child(2) {
    -webkit-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -ms-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.active .bar-icon:nth-child(1) {
    -webkit-transform: rotate(45deg) translate3d(5px, 5px, 0);
    -o-transform: rotate(45deg) translate3d(5px, 5px, 0);
    -ms-transform: rotate(45deg) translate3d(5px, 5px, 0);
    -moz-transform: rotate(45deg) translate3d(5px, 5px, 0);
    transform: rotate(45deg) translate3d(5px, 5px, 0);
}

.active .bar-icon:nth-child(2) {
    opacity: 0;
}

.active .bar-icon:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    -o-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    -ms-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    -moz-transform: rotate(-45deg) translate3d(5px, -5px, 0);
    transform: rotate(-45deg) translate3d(5px, -5px, 0);
}


.header-image-wrapper {
    position: relative;
    height: 350px;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: height 0.25s linear;
    -o-transition: height 0.25s linear;
    -ms-transition: height 0.25s linear;
    -moz-transition: height 0.25s linear;
    transition: height 0.25s linear;
}

.header-image {
    background: transparent 50% 50% no-repeat;
    display: block;
    height: 100%;
    opacity: 0;
    position: relative;
    -webkit-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    -ms-transition: opacity 0.15s ease;
    -moz-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;                   
}

.header-image img {
    max-width: 80%;
    max-height: 80%;
    max-height: calc(100% - 100px);
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-image.cover img {
    display: none;                  
}

.header-image.contain {
    background-image: none !important;
    margin: auto; /* center */             
}

.regular .header-image.contain,
.grid.permalink .header-image.contain {
    max-width: 700px;
}

.narrow .header-image.contain {
    max-width: 500px;
}

.header-image.loaded {
    opacity: 1;
}

.header-image.cover.loaded:after {
    content: '';
    position: absolute;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); 
}

.header-image.cover {
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0 -1px; /* account for browser rounding errors */
}

.header-image.cover:not(.loaded) + .loader-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(68, 68, 68, 0.1);
}

.title-group.animate {
    -webkit-animation: slide-fade-in 0.8s ease;
    -o-animation: slide-fade-in 0.8s ease;
    -ms-animation: slide-fade-in 0.8s ease;
    -moz-animation: slide-fade-in 0.8s ease;
    animation: slide-fade-in 0.8s ease;
}

.blog-title {
    text-align: center;
}

.description {
    color: #666;
    margin: 50px 0 0;
    display: block;
}

.avatar-hidden .description {
    margin-top: 25px;
}

.title-group h1 {
    margin-top: 45px !important;
}

h1 + .description {
    margin-top: 5px !important;
}

/** Avatar **/
.avatar-wrapper {
    left: 50%;
    margin-left: -57px;
    position: absolute;
    top: -78px;   
}

.avatar-wrapper.animate {
    -webkit-animation: grow 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-animation: grow 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-animation: grow 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-animation: grow 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
    animation: grow 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
}

.user-avatar {
    background: #666 50% 50% no-repeat;
    background-size: 106px 106px;
    border-radius: 4px;
    display: block;
    height: 106px;
    width: 106px;
    border: 4px solid #f6f6f6;
    position: relative;
}

/* square avatar, uses box-shadow to create inset border */
.avatar-style-square .avatar-wrapper {
    margin-left: -53px;
}

.avatar-style-square .user-avatar {
    border: none;
    -wekbit-box-shadow: 0 0 0 4px #F6F6F6;
    -moz-box-shadow: 0 0 0 4px #F6F6F6;
    box-shadow: 0 0 0 4px #F6F6F6;
}

.user-avatar:active {
    margin-top: 1px;
}

/** Variations on avatars **/
.avatar-hidden .avatar-wrapper,
.avatar-style-hidden .avatar-wrapper {
    display: none;
}

.avatar-style-circle .user-avatar {
    border-radius: 50%;
}

#header.no-image .avatar-wrapper {
    margin-left: -50px;
}

#header.no-image .user-avatar {
    border: none;
}

.avatar-hidden h1 {
    margin-top: 23px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px;
    position: relative;
    z-index: 2;
    max-width: 702px; /* This gets updated with media queries */
    min-width: 270px; 
}

.narrow .content {
    max-width: 502px;
}


.loader {
    position: absolute;
    line-height: 0;
    top: 10px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader .loader-bar {
    display: none;
    height: 16px; 
    width: 16px;
    margin: 0 3px;
    opacity: 0.1;
    border-radius: 4px;
    background-color: #d9d9d9;
}

.animate > .loader-bar {
    display: inline-block;
    -webkit-animation: loader-oscillate ease-in-out 300ms infinite alternate;
    -moz-animation: loader-oscillate ease-in-out 300ms infinite alternate;
    animation: loader-oscillate ease-in-out 300ms infinite alternate;
}

.loader-bar:nth-child(1) {
    -webkit-animation-delay: -200ms;
    -moz-animation-delay: -200ms;
    animation-delay: -200ms;
}

.loader-bar:nth-child(2) {
    -webkit-animation-delay: -100ms;
    -moz-animation-delay: -100ms;
    animation-delay: -100ms;
}

.attribution-tags {
    font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
    margin: 0 20px;
}


.avatar_frame {
    display: block;
    float: left;
    position: relative;
    margin: -2px 12px 0 0;
    border-radius: 2px;
}

.avatar_frame:before {
    content: '';
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 2px;
}

.avatar_frame:after {
    content: '';
    background: rgba(0, 0, 0, 0) url('http://static.tumblr.com/vr9xgox/X4en0lgid/sprite-1x.png') 0 0 no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: -6px;
    z-index: 10;
    right: -8px;
}

.text h2 {
    margin-bottom: -4px;
}

h2 + .body-text {
    margin-top: 1em;
}

.body-text {
    line-height: 1.6;
}

.text .attribution-tags {
    margin: 0 0 -20px;
}

.touch .post {
    margin-bottom: 0;
}

.touch .panel {
    opacity: 1;
}

.touch .post-footer {
    opacity: 1;
}

.touch .video .video-wrapper {
    height: auto;
    padding-bottom: 0;
}

.touch .video .video-wrapper iframe {
    position: relative;
}

.ios .pop-menu ul li.open-in-app {
    display: block;
}

/* Old Android freaks out on web fonts if text-rendering: optimizeLegibility; is
   set */
body.android-lt-4-4 {
    text-rendering: inherit;
}

/* Old android browses don't handle transitions well, so disable the animations entirely
   and leave the bars as-is */
.android-lt-4-4 .bar-icon:nth-child(2) {
    -webkit-transition: none;
    transition: none;
}

.android-lt-4-4 .active .bar-icon:nth-child(1) {
    -webkit-transform: none;
    transform: none;
}

.android-lt-4-4 .active .bar-icon:nth-child(2) {
    opacity: 1;
}

.android-lt-4-4 .active .bar-icon:nth-child(3) {
    -webkit-transform: none;
    transform: none;
}

/******************************************************************************
 * KEYFRAME ANIMATIONS
 * Cool little thingies.
 ******************************************************************************/
@-webkit-keyframes wiggle {
    0%   { opacity: 1; -webkit-transform: rotate(0deg); }
    25%  { opacity: 1; -webkit-transform: rotate(-20deg); }
    75%  { -webkit-transform: rotate(20deg); }
    100% { margin-top: -130px; opacity: 0; -webkit-transform: rotate(0deg); }
}
@-moz-keyframes wiggle {
    0%   { opacity: 1; -moz-transform: rotate(0deg); }
    25%  { opacity: 1; -moz-transform: rotate(-20deg); }
    75%  { -moz-transform: rotate(20deg); }
    100% { margin-top: -130px; opacity: 0; -moz-transform: rotate(0deg); }
}
@-ms-keyframes wiggle {
    0%   { opacity: 1; -ms-transform: rotate(0deg); }
    25%  { opacity: 1; -ms-transform: rotate(-20deg); }
    75%  { -ms-transform: rotate(20deg); }
    100% { margin-top: -130px; opacity: 0; -ms-transform: rotate(0deg); }
}
@-o-keyframes wiggle {
    0%   { opacity: 1; -o-transform: rotate(0deg); }
    25%  { opacity: 1; -o-transform: rotate(-20deg); }
    75%  { -o-transform: rotate(20deg); }
    100% { margin-top: -130px; opacity: 0; -o-transform: rotate(0deg); }
}
@keyframes wiggle {
    0%   { opacity: 1; transform: rotate(0deg); }
    25%  { opacity: 1; transform: rotate(-20deg); }
    75%  { transform: rotate(20deg); }
    100% { margin-top: -130px; opacity: 0; transform: rotate(0deg); }
}

@-webkit-keyframes loader-oscillate {
    0% { opacity: 0.1; -webkit-transform: scaleY(1); }
    100% { opacity: 0.2; -webkit-transform: scaleY(1.3); }
}
@-moz-keyframes loader-oscillate {
    0% { opacity: 0.1; -moz-transform: scaleY(1); }
    100% { opacity: 0.2; -moz-transform: scaleY(1.3); }
}
@keyframes loader-oscillate {
    0% { opacity: 0.1; transform: scaleY(1); }
    100% { opacity: 0.2; transform: scaleY(1.3); }
}

@-webkit-keyframes slide-fade-in {
    from   { opacity: 0; -webkit-transform: translate3d(0, 20px, 0); }
    to  { opacity: 1; -webkit-transform: translate(0, 0, 0); }
}
@-o-keyframes slide-fade-in {
    from   { opacity: 0; -o-transform: translate3d(0, 20px, 0); }
    to  { opacity: 1; -o-transform: translate(0, 0, 0); }
}
@-ms-keyframes slide-fade-in {
    from   { opacity: 0; -ms-transform: translate3d(0, 20px, 0); }
    to  { opacity: 1; -ms-transform: translate(0, 0, 0); }
}
@-moz-keyframes slide-fade-in {
    from   { opacity: 0; -moz-transform: translate3d(0, 20px, 0); }
    to  { opacity: 1; -moz-transform: translate(0, 0, 0); }
}
@keyframes slide-fade-in {
    from   { opacity: 0; transform: translate3d(0, 20px, 0); }
    to  { opacity: 1; transform: translate(0, 0, 0); }
}

@-webkit-keyframes grow {
    from   { opacity: 0.85; -webkit-transform: scale(0.5); }
    to  { opacity: 1; -webkit-transform: translate(1); }
}
@-o-keyframes grow {
    from   { opacity: 0.85; -o-transform: scale(0.5); }
    to  { opacity: 1; -o-transform: translate(1); }
}
@-ms-keyframes grow {
    from   { opacity: 0.85; -ms-transform: scale(0.5); }
    to  { opacity: 1; -ms-transform: translate(1); }
}
@-moz-keyframes grow {
    from   { opacity: 0.85; -moz-transform: scale(0.5); }
    to  { opacity: 1; -moz-transform: translate(1); }
}
@keyframes grow {
    from   { opacity: 0.85; transform: scale(0.5); }
    to  { opacity: 1; transform: translate(1); }
}

/******************************************************************************
 * MEDIA QUERIES
 * These follow after primary styles so they will successfully override.
 ******************************************************************************/
@media screen and (max-width: 768px) {
    .header-image-wrapper {
        height: 250px;
    }

    h1 {
        font-size: 54px;
    }
}

@media screen and (max-width: 640px) {
    .post-footer .date-notes li {
        width: 123px; /* andorid does weird things */
        overflow: hidden;
        text-overflow: ellipsis;
        color: #a7a7a7;
    }

    .permalink .post-footer .date-notes li {
        float: none; /* force two lines */
    }
}

@media screen and (max-width: 500px) {

    iframe[src^="//instagram"] {
        min-height: 550px;
    }
    
}

@media screen and (max-width: 480px) {

    .header-image-wrapper {
        height: 200px;
    }

    .answer_form_container iframe {
        min-height: 143px;
    }

}

@media screen and (max-width: 400px) {

    iframe[src^="//instagram"] {
        min-height: 455px;
    }

}

/* mobile-ify */
@media screen and (max-device-width: 568px) {

    body {
        font-size: 15px;
    }

    #tumblr_controls {
        position: fixed;
        margin-top: 3px;
        z-index: 5; /* z-index above slide down nav menu */
    }

    .no-image #header {
        margin-top: 115px;
    }

    .description {
        margin-top: 35px;
    }

    h1 {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .avatar-hidden h1 {
        margin-top: 15px;
    }

    .avatar-hidden .description {
        margin-top: 20px;
    }

    h1 + .description {
        margin-top: 0 !important;
    }

    #posts,
    #posts.no-title-desc.avatar-hidden,
    #posts.no-title-desc.avatar-style-hidden {
        margin-top: 15px;
    }

    #posts.no-image.no-title-desc.avatar-hidden,
    #posts.no-image.no-title-desc.avatar-style-hidden {
        margin-top: 45px;
    }

    #posts.no-title-desc.avatar-style-circle,
    #posts.no-title-desc.avatar-style-square {
        margin-top: 40px;
    }

    #posts.no-title-desc.exposed-nav {
        margin-top: 10px;
    }

    .content {
        padding: 1px 10px;
    }

    .narrow .content {
        max-width: 702px; /* Upscale in-case of narrow layout */        
    }

    /* Nav menu behaves differently on mobile, it slides down from top */
    .nav-menu-wrapper {
        position: fixed;
        width: 100%;
    }

    .nav-menu-wrapper .nav-menu,
    .nav-menu-wrapper:not(.exposed) .nav-menu {
        float: none;
        margin: 0;
        width: 100%;
    }

    .nav-menu-wrapper .nav-menu.active:before {
        content: '';
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        height: 42px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        z-index: 11; /* advanced snake riding */
    }
    
    .nav-menu-wrapper .nav-menu.active:after {
        content: '';
        height: 41px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
        z-index: 10; /* ssssssnake */
    }

    .nav-menu .selector {
        position: absolute;
        height: 29px;
        width: 31px;
        z-index: 11;
        top: 5px;
        left: 10px;
    }

    .active .bar-icon {
        background: #444;
    }
    
    .nav-menu-bg {
        background: #fff;
        width: 100%;
        height: 42px;
        opacity: 0;
        position: fixed;
        top: 0;
        -webkit-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        -ms-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        transition: opacity 0.2s linear;
        z-index: 4; /* higher than most content, lower than tumblr_controls */
    }

    .below-header .nav-menu-bg {
        opacity: 0.9;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .below-header .selector .bar-icon {
        background: #444;
    }

    .below-header .selector .icon,
    .search-only .selector.active .icon {
        color: #444;
    }

    .search-only {
        display: none;
    }

    .search {
        display: none;
    }

    .nav-menu .pop-menu {
        position: fixed;
        background: transparent; /* background is on menu instead */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
        left: 0;
        top: -1px;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: opacity 0.1s ease, -webkit-transform 0.25s ease-out;
        -webkit-transform: translateY(-100%);
    }

    .nav-menu .pop-menu.active {
        left: 0;
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    .nav-menu .pop-menu ul {
        background: #fff;
        margin: 0 !important;
        padding: 42px 10px 2px;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    .nav-menu .pop-menu ul li {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
    }

    .nav-menu .pop-menu.west li:first-child {
        border-top: none;
        border-bottom: none;
    }

    .nav-menu .pop-menu.west li:first-child:before {
        display: none;
    }

    .nav-menu .pop-menu ul li a {
        padding: 7px 40px 8px 10px;
        font-size: 15px;
        font-weight: normal;
    }

    #search {
        margin: 8px 10px;
    }

    #search input {
        font-weight: normal;
        font-size: 16px; /* avoid zoom in */
    }

    #search button {
        top: -2px;
    }

    .search-only .selector .icon {
        /* Don't transition the icon, there's already a bunch of animations going on */
        -webkit-transition: none;
        -o-transition: none;
        -ms-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .search-only .selector.show .icon-search_16 {
        display: none;
        opacity: 1;
    }

    .search-only .selector.show .icon-close {
        display: block;
        opacity: 1;
    }

    .below-header.no-header-image .search-only .selector .icon {
        color: #444;
    }

    .header-image {
        /*override parallax inline styles */
        -webkit-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        -ms-transform: translate3d(0, 0, 0) !important;
        -moz-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
    }

    .avatar-wrapper {
        margin-left: -40px;
        top: -60px;
    }

    .avatar-style-square .avatar-wrapper {
        margin-left: -40px;
    }

    .user-avatar {
        background-size: 80px 80px;
        border-radius: 3px;
        height: 80px;
        width: 80px;
        border: 3px solid #f6f6f6;
    }

    .attribution-tags .reblog {
        display: none; /* hide the reblog link the attributions */
    }

    .reblog-header {
        display: block;     
        font-size: 14px;
        font-weight: bold;
        padding: 11px 15px; 
    }

    .reblog-header a {
        color: #a7a7a7;
        text-decoration: none;   
    }

    .reblog-header .reblog-link .icon-reblog {
        font-size: 16px;
        vertical-align: -3px;
    }

    .text .reblog-header,
    .quote .reblog-header,
    .answer .reblog-header {
        margin-bottom: -6px;
        padding-bottom: 0;
    }

    .chat .reblog-header {
        margin-bottom: -4px;
        padding-bottom: 0;
    }

    .link .reblog-header {
        padding-bottom: 1px;
    }

    .photo .reblog-header,
    .photoset .reblog-header {
        padding-bottom: 0;
    }

    .post {
        margin-bottom: 0;
        padding: 20px 15px 5px;
    }

    .chat .post {
        padding-bottom: 0;
    }

    .post .caption {
        margin: 15px;
    }

    .post blockquote {
        padding-left: 13px;    
    }

    .photoset .post {
        padding: 0;
    }

    .photoset figure,
    .photo figure {
        margin: 10px -4px 0;
    }
    
    .photoset .caption {
        margin: 15px 19px 10px;
    }

    .photoset .attribution-tags {
        margin: 0 15px;
    }

    .photo-wrapper:not(.high-res) + .caption {
        margin: 0 5px;
    }

    .photo figure img {
        background: #fff; /* for transparent images */
        margin: 0 !important;
        width: 100%;
    }

    .photo .photo-wrapper {
        border-radius: 1px;
        margin: 0 0 -1px;
    }

    .photo .photo-wrapper-inner {
        padding: 0;
    }

    .photo-wrapper:not(.high-res) + .caption {
        padding: 15px;
    }

    #posts article {
        margin-bottom: 15px;
    }

    .post-wrapper {
        overflow: visible;
    } 

    .panel {
        opacity: 1;
    }

    .post-footer {
        opacity: 1;
    }

    .post-footer ul {
        margin: 0 0 0 15px;
    }

    .post-controls > ul {
        margin-right: 5px;
    }

    .index-page .meta {
        font-size: 15px;
    }

    .post h2,
    .quote blockquote {
        font-size: 18px;
    }

    .link-wrapper h2 {
        margin-top: 10px;
    }

    .link-wrapper h2 a {
        border-radius: 0;
        font-size: 15px;
    }

    .link-wrapper .link-title {
        line-height: 20px;
    }

    .link-wrapper .link-title:after {
        font-size: 10px;
    }

    .link-wrapper .link-host {
        font-size: 15px;
    }

    .quote .post > blockquote {
        font-size: 22px;
    }

    .quote blockquote.medium {
        font-size: 18px;
    }

    .quote blockquote.long {
        font-size: 15px;
    }

    .caption + .attribution-tags, 
    .with-caption + .attribution-tags {
        margin-top: -15px;
    }

    .attribution-tags {
        margin: 0 15px;
    }

    .text .attribution-tags,
    .answer .attribution-tags,
    .quote .attribution-tags {
        margin: 0 0 -5px;
    }

    .attribution-tags ul {
        margin-bottom: 0;
    }

    .attribution-tags li {
        font-size: 15px;
        margin: 0 15px 5px 0;
    }

    .video .video-wrapper iframe {
        height: auto !important;
        min-height: 0;
    }

    .video .video-wrapper iframe[src^="//instagram"] {
        min-height: 385px;
    }

    .video .video-wrapper a {
        max-height: 300px;
    }

    .video .video-wrapper a div {
        background-size: 50px 50px;
    }

    #pagination a {
        margin-bottom: 20px;
    }

    .notes-wrapper {
        margin: 5px 15px;
    }

}

@media screen and (max-device-width: 320px) and (orientation: portrait) {
    .header-image-wrapper {
        height: 180px; /* 16:9 */
    }
}

/******************************************************************************
 * PRINT STYLES
 * Added here to avoid otherwise required HTTP connection
 ******************************************************************************/
@media print {
  
    * {
        background: transparent !important;
        color: #444 !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    pre,
    blockquote {
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
        /* css-discuss.incutio.com/wiki/Printing_Tables */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    @page  {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .print-only {
        display: block;
        visibility: visible;
    }

    #tumblr_controls,
    .post-controls {
        display: none !important;
    }

    .header-image-wrapper {
        height: 100px !important; /* override parallax inline styles */
    }

    .user-avatar img {
        height: 80px;
        width: 80px;
    }

}

/******************************************************************************
 * RETINA
 * High res!
 ******************************************************************************/
@media only screen and (-webkit-min-device-pixel-ratio: 2 ), only screen and ( -moz-min-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1 ), only screen and ( min-device-pixel-ratio: 2 ), only screen and ( min-resolution: 192dpi ), only screen and ( min-resolution: 2dppx ) {

    .avatar_frame:after {
        background-image: url('http://static.tumblr.com/vr9xgox/Df0n0lgok/sprite-2x.png');
        background-size: 100px 24px; /* 1x dimensions */
    }

}
